html{
    background: #000;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #333;
    overflow-y: hidden;
    user-select: none;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 1fr 50fr 1fr / 3fr 20fr 3fr;
    grid-template-areas: 
    ". . ."
    "L C R"
    ". . .";
}
canvas{
    width: 100%;
    height: 100%;
    background-image: url("imgs/definitely_didnt_yeet_this_from_somewhere.jpg");
    background-repeat: repeat;
}
#leftMenu{
    grid-area: L;
    border: 2px solid black;
}
#gameScreen{
    grid-area: C;
    border: 2px solid black;
    background: #666;
}
#rightMenu{
    grid-area: R;
    border: 2px solid black;
}
#player_stats_table{
    font-size: larger;
}
table{
    width: 100%;
}
tr{
    display: flex;
    margin-top: 10px;
}
.th_l{
    text-align: left;
}
th{
    width: 100%;
    text-align: right;
    color: lime;
}
.btn{
    width: 100%;
    font-size: large;
}
audio{
    display: none;
}